<%= link_to "← Back to notes", root_path %>

<% if @note %>
  <h1>Note #<%= @note["noteId"] %></h1>

  <div class="note-detail">
    <% @note["fields"].each do |field_name, field_data| %>
      <div class="note-field">
        <strong><%= field_name %>:</strong> <%= field_data["value"] %>
      </div>
    <% end %>

    <% if @note["tags"].any? %>
      <div class="note-tags"><em>Tags: <%= @note["tags"].join(", ") %></em></div>
    <% end %>
  </div>
<% end %>
